* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Chakra Petch', sans-serif;
}

ul {
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

img {
    display: block;
}
